.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }

  .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgb(250, 157, 6);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  mat-grid-tile {
    background: #CB03E9;
  }