<mat-checkbox>Check me!</mat-checkbox> <br>
<hr>

<mat-radio-group>
  <mat-radio-button value="1"> Yes</mat-radio-button>
  <mat-radio-button value="0"> No</mat-radio-button>
</mat-radio-group> <br>
<hr>

<mat-slider></mat-slider> 
<hr>
<mat-slide-toggle>Slide me!</mat-slide-toggle>
<hr>

<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
   <mat-icon>more_vert</mat-icon>
</button>
<hr>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </mat-sidenav>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</mat-sidenav-container>
<hr>

<mat-toolbar>My App</mat-toolbar>
<hr>

<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>
<hr>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>hey</mat-grid-tile>
  <mat-grid-tile>hi</mat-grid-tile>
  <mat-grid-tile>hello</mat-grid-tile>
  <mat-grid-tile>buddy</mat-grid-tile>
</mat-grid-list>
<hr>

<mat-card>Simple card</mat-card>
